.Jacob > .user-name {color: #26a69a; font-weight: 580;}
.Jacob > .message-text {font-family: "Trebuchet MS"; font-size: 1.1em; color: #795548;}
/* merge conflict jacob */
.Greg > .user-name {color: indigo; font-weight: 650;}
.Greg > .message-text {}

.Reiri > .user-name {color: lightskyblue}
.Reiri > .message-text {font-family:"Courier New"}

.Dan > .user-name {color: purple}
.Dan > .message-text {color: pink}

.demo-card-wide.mdl-card {
    width: 60%;
    height: 80vh;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.message-div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.mdl-card__supporting-text {
    width: 100%; 
    box-sizing: border-box; 
    overflow-y: scroll; 
    height: 100%;
    
}

.demo-card-wide {display: grid; grid-template-rows: 1fr 3em;}
#submit-button {color: #4db6ac; display: flex; align-items: center; height: 2em; margin-left: 0.5em;}

.mdl-card__actions {
    display: flex;
    align-items: stretch;
    font-size: 1em;
    padding: 0.5em;
    font-family: sans-serif;
    width: 100%;
}

#new-message-input {height: 2em;}
#input-div {flex: 1;}
#new-message-input {width: 100%;}

body {overflow: hidden;}
.message {margin-bottom: 0.25em; width: 100%;}

.material-icons {
    color: #26a69a;
}

.mdl-card__menu {
    top: 2px;
}
